{{> cartButton}}
{{> goBackButton}}

<div class="container">
    {{#with product}}
        <p>{{id}}</p>
        <p>{{title}}</p>
        <p>{{description}}</p>
        <p>{{code}}</p>
        <p>{{price}} </p>
        <p>{{stock}}</p>
        <p>{{category}}</p>
         <button class='btn btn-dark addProduct' onClick='buttonAdd(this)' type='button' pid='{{this.id}}'><i class='bi bi-cart-plus-fill'>Añadir</i></button>
    {{/with}}
    <script src='/js/main.js'></script>
</div>